<div class="row">
  <div class="span12">
    <div class="btn-group floatright" data-toggle="buttons-radio">
        <button type="button" class="curr-active-toggle btn btn-info" >Active</button>
        <button type="button" class="curr-inactive-toggle btn btn-info">Inactive</button>
    </div>

    <div class = "active-curriculum nav-tabs">
        <h3></h3>
        <%= render :partial => "active_curriculums" %>
    </div>

    <div class = "inactive-curriculum nav-tabs">
        <h3></h3>
        <%= render :partial => "inactive_curriculums" %>
    </div>

    <%= link_to "Add a new curriculum", new_curriculum_path %>

  </div>
</div>