<% unless @inactive_students.empty? %>
  <div class="panel clearfix">
    <h1>Inactive Students</h1>
    <ul class="side-nav">
      <% @inactive_students.each do |student| %>
        <li><%= link_to student.name, student_path(student) %></li>
	    <td align="center"><%= student.age %></td>
      <td align="center">  <%= student.rating.zero? ? "Unrated" : student.rating %></td>
      <% end %>
    </ul>
  </div>
<% end %>