<div class="row">
    <div class="span12">
        <div class="btn-group floatright" data-toggle="buttons-radio">
            <button type="button" class="student-active-toggle btn btn-info" >Active</button>
            <button type="button" class="student-inactive-toggle btn btn-info">Inactive</button>
        </div>

        <div class = "active-student nav-tabs">
            <h3></h3>
            <%= render :partial => "active_students" %>
        </div>

        <div class = "inactive-student nav-tabs">
            <h3></h3>
            <%= render :partial => "inactive_students" %>
        </div></br></br>
            <%= link_to "Add a new student", new_student_path %>

    </div>
</div>