<div class="row">
	    <div class="span12">

  <div class="small-12 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "students", locals: { status: "Active", students: @active_students } %>
    <%= render :partial => "students", locals: { status: "Inactive", students: @inactive_students } %>
<br />    <%= link_to "Add a new student", new_student_path %>
  </div>


  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render :partial => "inactive_students" %>
  </div>
</div>
</div>