<div class="row">
    <div class="span12">
        <div class="btn-group floatright" data-toggle="buttons-radio">
            <button type="button" class="family-active-toggle btn btn-info" >Active</button>
            <button type="button" class="family-inactive-toggle btn btn-info">Inactive</button>
        </div>

        <div class = "active-family nav-tabs">
            <h3></h3>
            <%= render :partial => "active_families" %>
        </div>

        <div class = "inactive-family nav-tabs">
            <h3></h3>
            <%= render :partial => "inactive_families" %>
        </div>
    </div>
    <p class="supertiny">&nbsp;</p>
    <p class="supertiny">&nbsp;</p>


    <% if false %>
      <div class="span7">
        <h3>Active Families</h3>
        <%= render :partial => "active_families" %>
      </div>
      <div class="span5">
        <h3>Inactive Families</h3>
        <%= render :partial => "inactive_families" %>
      </div>
    <% end %>

</div>