<div class="row">
  <div class="span12">
    <div class="btn-group floatright" data-toggle="buttons-radio">
        <button type="button" class="ins-active-toggle btn btn-info" >Active</button>
        <button type="button" class="ins-inactive-toggle btn btn-info">Inactive</button>
    </div>

    <div class = "active-instructor nav-tabs">
        <h3></h3>
        <%= render :partial => "active_instructors" %>
    </div>

    <div class = "inactive-instructor nav-tabs">
        <h3></h3>
        <%= render :partial => "inactive_instructors" %>
    </div>

  <% if !current_user.nil? %>
    <%= link_to "Add a new instructor", new_instructor_path %>
  <% end %>
  </div>
</div>