<h3>Hello! Almighty admin! Welcome back, <%= current_user.username %></h3>
	<p><%= link_to "click here to review camps.", camps_path %></p>
	<p><%= link_to "Edit your account", edit_user_path(current_user) %></p>