  <div class="white" align="center">

<h3>Welcome back, <%= current_user.username %>, the Almighty Admin!</h3>
<body>
	<p><%= link_to "Edit your profile", edit_user_path(current_user) %></p>
</body>

      </div>
