<div class="row">
  <div class="small-12 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <div class="tablecenter">
    <%= render :partial => "locations", locals: { status: "Active", locations: @active_locations } %>
    <p>&nbsp;</p>
    <%= render :partial => "locations", locals: { status: "Inactive", locations: @inactive_locations } %>
    <br />
  </div>
    <%= link_to "Add a new locations", new_location_path %>
  </div>


</div>